n8n-campanha-workflow.json
{"updatedAt":"2026-05-15T17:06:31.027Z","createdAt":"2026-04-26T15:16:37.400Z","id":"LXRzDVP6RnXGHPhR","name":"CBPM Campanha Disparo","description":null,"active":true,"isArchived":false,"nodes":[{"id":"v5-n1","name":"A Cada Minuto","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}}},{"id":"v5-n2","name":"Busca Campanha","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,300],"parameters":{"method":"GET","url":"https://gclayesytzzpzkjvgede.supabase.co/rest/v1/campanhas?status=eq.em_andamento&select=id,cliente_id,nome,cabecalho,variantes,intervalo_min,intervalo_max,horario_inicio,horario_fim,lote_max_dia,enviados,clientes(nome_negocio,instancia_whats)&limit=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"neverError":true}}}}},{"id":"v5-n3","name":"Tem Campanha?","type":"n8n-nodes-base.if","typeVersion":2,"position":[600,300],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"c1","leftValue":"={{ Array.isArray($json)?$json.length:1 }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}]},"options":{}}},{"id":"v5-n4","name":"Verifica Contexto","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,260],"parameters":{"jsCode":"const c = Array.isArray($input.first().json) ? $input.first().json[0] : $input.first().json;\nconst vars = Array.isArray(c.variantes) ? c.variantes : JSON.parse(c.variantes || '[]');\n// Hora BRT via UTC puro — independente do fuso do servidor N8N\nconst agora = new Date();\nconst hBRT  = (agora.getUTCHours() - 3 + 24) % 24;\nconst mBRT  = agora.getUTCMinutes();\nconst ini = parseInt((c.horario_inicio||'08:00').split(':')[0]);\nconst fim = parseInt((c.horario_fim||'20:00').split(':')[0]);\nconst dentro = hBRT >= ini && hBRT < fim;\nconst enviados = parseInt(c.enviados)||0;\nconst lote = parseInt(c.lote_max_dia)||80;\nreturn [{ json: {\n  campanha_id:    c.id,\n  instancia:      c.clientes ? c.clientes.instancia_whats : '',\n  nome_negocio:   c.clientes ? c.clientes.nome_negocio : '',\n  cabecalho:      c.cabecalho || '',\n  variantes:      vars,\n  intervalo_min:  parseInt(c.intervalo_min)||60,\n  intervalo_max:  parseInt(c.intervalo_max)||360,\n  horario_inicio: c.horario_inicio||'08:00',\n  horario_fim:    c.horario_fim||'20:00',\n  lote_max_dia:   lote,\n  enviados,\n  hora_brt:       hBRT + 'h' + String(mBRT).padStart(2,'0'),\n  pode_enviar:    dentro && enviados < lote,\n}}];"}},{"id":"v5-n5","name":"Pode Processar?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1000,260],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"c1","leftValue":"={{ $json.pode_enviar }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}]},"options":{}}},{"id":"v5-n6","name":"Busca Contato","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,200],"parameters":{"method":"GET","url":"=https://gclayesytzzpzkjvgede.supabase.co/rest/v1/campanha_contatos?campanha_id=eq.{{ $('Verifica Contexto').first().json.campanha_id }}&status=eq.pendente&select=id,nome,whatsapp,tratamento,empresa&order=criado_em.asc&limit=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"neverError":true,"fullResponse":true}}}}},{"id":"v5-n7","name":"Parse Contato","type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,200],"parameters":{"jsCode":"const resp = $input.first().json;\nconst ctx  = $('Verifica Contexto').first().json;\nlet contato = null;\ntry {\n  const body = typeof resp.body === 'string' ? JSON.parse(resp.body) : resp.body;\n  if (Array.isArray(body) && body.length > 0) contato = body[0];\n} catch(e) {}\nreturn [{ json: {\n  has_contato: !!contato,\n  contato:     contato,\n  ...ctx\n}}];"}},{"id":"v5-n8","name":"Tem Contato?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1600,200],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"c1","leftValue":"={{ $json.has_contato }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}]},"options":{}}},{"id":"v5-n9","name":"Marca Concluida","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,340],"parameters":{"method":"PATCH","url":"=https://gclayesytzzpzkjvgede.supabase.co/rest/v1/campanhas?id=eq.{{$json.campanha_id}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\"status\":\"concluida\",\"concluido_em\":\"{{ new Date().toISOString() }}\"}","options":{"response":{"response":{"neverError":true}}}}},{"id":"v5-n10","name":"Monta Mensagem","type":"n8n-nodes-base.code","typeVersion":2,"position":[1800,160],"parameters":{"jsCode":"const d = $('Parse Contato').first().json;\nconst contato = d.contato;\nconst vars    = Array.isArray(d.variantes) ? d.variantes : [];\n// Round-robin: idx sequencial garante variantes diferentes a cada envio\nconst idx     = d.enviados % Math.max(vars.length, 1);\nconst raw     = (d.cabecalho + '\\n' + (vars[idx] || '')).trim();\nconst prim    = (contato.nome||'').trim().split(' ')[0] || contato.nome || '';\nconst trat    = contato.tratamento ? contato.tratamento.replace(/\\.?$/, '') + '. ' : '';\nconst empresa = contato.empresa || '';\n// Delay aleatório real entre min e max — valor diferente a cada execução\nconst faixa   = Math.max(d.intervalo_max - d.intervalo_min, 1);\nconst delay_s = d.intervalo_min + Math.floor(Math.random() * faixa);\nconst msg     = raw\n  .replace(/\\[nome\\]/gi,       prim)\n  .replace(/\\[tratamento\\]/gi, trat)\n  .replace(/\\[negocio\\]/gi,    d.nome_negocio || '')\n  .replace(/\\[empresa\\]/gi,    empresa);\nreturn [{ json: {\n  contato_id:   contato.id,\n  campanha_id:  d.campanha_id,\n  mensagem:     msg,\n  variante_idx: idx,\n  instancia:    d.instancia,\n  whatsapp:     contato.whatsapp,\n  delay_s\n}}];"}},{"id":"v5-n11","name":"Aguarda Delay","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2000,160],"parameters":{"unit":"seconds","amount":"={{ $json.delay_s }}"}},{"id":"v5-n12","name":"Envia WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2200,160],"parameters":{"method":"POST","url":"=https://crowingbettafish-evolution.cloudfy.live/message/sendText/{{$json.instancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"oXgcgV2NWz9oSDIwg4X7xxr100oT36zb"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({number: $json.whatsapp, text: $json.mensagem, delay: 1200}) }}","options":{"response":{"response":{"fullResponse":true,"neverError":true}}}}},{"id":"v5-n13","name":"Merge Resultado","type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,160],"parameters":{"jsCode":"const evo = $input.first().json;\nconst ctx = $('Monta Mensagem').first().json;\nreturn [{ json: {\n  enviou:       (evo.statusCode || 0) < 300,\n  statusCode:   evo.statusCode || 0,\n  contato_id:   ctx.contato_id,\n  campanha_id:  ctx.campanha_id,\n  mensagem:     ctx.mensagem,\n  variante_idx: ctx.variante_idx,\n}}];"}},{"id":"v5-n14","name":"Enviou OK?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2600,160],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"c1","leftValue":"={{ $json.enviou }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}]},"options":{}}},{"id":"v5-n15","name":"Marca Enviado","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,100],"parameters":{"method":"PATCH","url":"=https://gclayesytzzpzkjvgede.supabase.co/rest/v1/campanha_contatos?id=eq.{{$json.contato_id}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\"status\":\"enviado\",\"enviado_em\":\"{{ new Date().toISOString() }}\",\"variante_idx\":{{ $json.variante_idx }},\"mensagem_enviada\":{{ JSON.stringify($json.mensagem) }}}","options":{"response":{"response":{"neverError":true}}}}},{"id":"v5-n16","name":"Inc Enviados","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3000,100],"parameters":{"method":"POST","url":"https://gclayesytzzpzkjvgede.supabase.co/rest/v1/rpc/cbpm_inc_enviados","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\"p_id\":\"{{ $(\"Merge Resultado\").first().json.campanha_id }}\"}","options":{"response":{"response":{"neverError":true}}}}},{"id":"v5-n17","name":"Marca Falha","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,280],"parameters":{"method":"PATCH","url":"=https://gclayesytzzpzkjvgede.supabase.co/rest/v1/campanha_contatos?id=eq.{{$json.contato_id}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\"status\":\"falha\",\"enviado_em\":\"{{ new Date().toISOString() }}\"}","options":{"response":{"response":{"neverError":true}}}}},{"id":"v5-n18","name":"Inc Falhas","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3000,280],"parameters":{"method":"POST","url":"https://gclayesytzzpzkjvgede.supabase.co/rest/v1/rpc/cbpm_inc_falhas","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\"p_id\":\"{{ $(\"Merge Resultado\").first().json.campanha_id }}\"}","options":{"response":{"response":{"neverError":true}}}}},{"id":"v5-n19","name":"Sem Campanha","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[800,440],"parameters":{}},{"id":"v5-n20","name":"Pausado","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1200,440],"parameters":{}},{"id":"v5-n21","name":"Reserva Contato","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,160],"parameters":{"method":"PATCH","url":"=https://gclayesytzzpzkjvgede.supabase.co/rest/v1/campanha_contatos?id=eq.{{$json.contato.id}}&status=eq.pendente","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"{\"status\":\"em_envio\"}","options":{"response":{"response":{"neverError":true,"fullResponse":true}}}}},{"id":"v5-n22","name":"Reserva OK?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1850,160],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"rc1","leftValue":"={{ Array.isArray($json.body) ? $json.body.length : (Array.isArray($json) ? $json.length : 1) }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}]},"options":{}}},{"id":"v5-n23b","name":"Verifica Em Envio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1050,200],"parameters":{"method":"GET","url":"=https://gclayesytzzpzkjvgede.supabase.co/rest/v1/campanha_contatos?campanha_id=eq.{{$json.campanha_id}}&status=eq.em_envio&select=id&limit=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"}]},"options":{"response":{"response":{"neverError":true,"fullResponse":true}}}}},{"id":"v5-n24b","name":"Livre Para Enviar?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1125,200],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"lpe1","leftValue":"={{ (() => { const b = $json.body; if (Array.isArray(b)) return b.length; try { return JSON.parse(b).length; } catch(e) { return 0; } })() }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}]},"options":{}}}],"connections":{"A Cada Minuto":{"main":[[{"node":"Busca Campanha","type":"main","index":0}]]},"Busca Campanha":{"main":[[{"node":"Tem Campanha?","type":"main","index":0}]]},"Tem Campanha?":{"main":[[{"node":"Verifica Contexto","type":"main","index":0}],[{"node":"Sem Campanha","type":"main","index":0}]]},"Verifica Contexto":{"main":[[{"node":"Pode Processar?","type":"main","index":0}]]},"Pode Processar?":{"main":[[{"node":"Verifica Em Envio","type":"main","index":0}],[{"node":"Pausado","type":"main","index":0}]]},"Busca Contato":{"main":[[{"node":"Parse Contato","type":"main","index":0}]]},"Parse Contato":{"main":[[{"node":"Tem Contato?","type":"main","index":0}]]},"Tem Contato?":{"main":[[{"node":"Reserva Contato","type":"main","index":0}],[{"node":"Marca Concluida","type":"main","index":0}]]},"Monta Mensagem":{"main":[[{"node":"Aguarda Delay","type":"main","index":0}]]},"Aguarda Delay":{"main":[[{"node":"Envia WhatsApp","type":"main","index":0}]]},"Envia WhatsApp":{"main":[[{"node":"Merge Resultado","type":"main","index":0}]]},"Merge Resultado":{"main":[[{"node":"Enviou OK?","type":"main","index":0}]]},"Enviou OK?":{"main":[[{"node":"Marca Enviado","type":"main","index":0}],[{"node":"Marca Falha","type":"main","index":0}]]},"Marca Enviado":{"main":[[{"node":"Inc Enviados","type":"main","index":0}]]},"Marca Falha":{"main":[[{"node":"Inc Falhas","type":"main","index":0}]]},"Reserva Contato":{"main":[[{"node":"Reserva OK?","type":"main","index":0}]]},"Reserva OK?":{"main":[[{"node":"Monta Mensagem","type":"main","index":0}],[]]},"Verifica Em Envio":{"main":[[{"node":"Livre Para Enviar?","type":"main","index":0}]]},"Livre Para Enviar?":{"main":[[{"node":"Busca Contato","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:A Cada Minuto":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"f140ac19-9b68-493c-a7dc-e07a98f6160e","activeVersionId":"f140ac19-9b68-493c-a7dc-e07a98f6160e","versionCounter":29,"triggerCount":1,"shared":[{"updatedAt":"2026-04-26T15:16:37.400Z","createdAt":"2026-04-26T15:16:37.400Z","role":"workflow:owner","workflowId":"LXRzDVP6RnXGHPhR","projectId":"Rz4gyxXDbFP8Y7vc","project":{"updatedAt":"2026-01-17T22:05:06.940Z","createdAt":"2026-01-17T22:03:59.854Z","id":"Rz4gyxXDbFP8Y7vc","name":"Carlos Almeida <carlos.carv.almeida@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"9a8c90ac-5d0a-472e-ba0f-93dc7515eb70","projectRelations":[{"updatedAt":"2026-01-17T22:03:59.854Z","createdAt":"2026-01-17T22:03:59.854Z","userId":"9a8c90ac-5d0a-472e-ba0f-93dc7515eb70","projectId":"Rz4gyxXDbFP8Y7vc","user":{"updatedAt":"2026-05-19T17:40:57.061Z","createdAt":"2026-01-17T22:03:58.841Z","id":"9a8c90ac-5d0a-472e-ba0f-93dc7515eb70","email":"carlos.carv.almeida@gmail.com","firstName":"Carlos","lastName":"Almeida","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-17T22:04:25.276Z","personalization_survey_n8n_version":"1.113.3","companyType":"saas"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"M56O4IRmHpAR3RpL","userActivatedAt":1775824707308,"npsSurvey":{"responded":true,"lastShownAt":1776111623066}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-05-19","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-15T17:06:31.030Z","createdAt":"2026-05-15T17:06:31.030Z","versionId":"f140ac19-9b68-493c-a7dc-e07a98f6160e","workflowId":"LXRzDVP6RnXGHPhR","nodes":[{"id":"v5-n1","name":"A Cada Minuto","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}}},{"id":"v5-n2","name":"Busca Campanha","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,300],"parameters":{"method":"GET","url":"https://gclayesytzzpzkjvgede.supabase.co/rest/v1/campanhas?status=eq.em_andamento&select=id,cliente_id,nome,cabecalho,variantes,intervalo_min,intervalo_max,horario_inicio,horario_fim,lote_max_dia,enviados,clientes(nome_negocio,instancia_whats)&limit=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"neverError":true}}}}},{"id":"v5-n3","name":"Tem Campanha?","type":"n8n-nodes-base.if","typeVersion":2,"position":[600,300],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"c1","leftValue":"={{ Array.isArray($json)?$json.length:1 }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}]},"options":{}}},{"id":"v5-n4","name":"Verifica Contexto","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,260],"parameters":{"jsCode":"const c = Array.isArray($input.first().json) ? $input.first().json[0] : $input.first().json;\nconst vars = Array.isArray(c.variantes) ? c.variantes : JSON.parse(c.variantes || '[]');\n// Hora BRT via UTC puro — independente do fuso do servidor N8N\nconst agora = new Date();\nconst hBRT  = (agora.getUTCHours() - 3 + 24) % 24;\nconst mBRT  = agora.getUTCMinutes();\nconst ini = parseInt((c.horario_inicio||'08:00').split(':')[0]);\nconst fim = parseInt((c.horario_fim||'20:00').split(':')[0]);\nconst dentro = hBRT >= ini && hBRT < fim;\nconst enviados = parseInt(c.enviados)||0;\nconst lote = parseInt(c.lote_max_dia)||80;\nreturn [{ json: {\n  campanha_id:    c.id,\n  instancia:      c.clientes ? c.clientes.instancia_whats : '',\n  nome_negocio:   c.clientes ? c.clientes.nome_negocio : '',\n  cabecalho:      c.cabecalho || '',\n  variantes:      vars,\n  intervalo_min:  parseInt(c.intervalo_min)||60,\n  intervalo_max:  parseInt(c.intervalo_max)||360,\n  horario_inicio: c.horario_inicio||'08:00',\n  horario_fim:    c.horario_fim||'20:00',\n  lote_max_dia:   lote,\n  enviados,\n  hora_brt:       hBRT + 'h' + String(mBRT).padStart(2,'0'),\n  pode_enviar:    dentro && enviados < lote,\n}}];"}},{"id":"v5-n5","name":"Pode Processar?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1000,260],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"c1","leftValue":"={{ $json.pode_enviar }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}]},"options":{}}},{"id":"v5-n6","name":"Busca Contato","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,200],"parameters":{"method":"GET","url":"=https://gclayesytzzpzkjvgede.supabase.co/rest/v1/campanha_contatos?campanha_id=eq.{{ $('Verifica Contexto').first().json.campanha_id }}&status=eq.pendente&select=id,nome,whatsapp,tratamento,empresa&order=criado_em.asc&limit=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"neverError":true,"fullResponse":true}}}}},{"id":"v5-n7","name":"Parse Contato","type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,200],"parameters":{"jsCode":"const resp = $input.first().json;\nconst ctx  = $('Verifica Contexto').first().json;\nlet contato = null;\ntry {\n  const body = typeof resp.body === 'string' ? JSON.parse(resp.body) : resp.body;\n  if (Array.isArray(body) && body.length > 0) contato = body[0];\n} catch(e) {}\nreturn [{ json: {\n  has_contato: !!contato,\n  contato:     contato,\n  ...ctx\n}}];"}},{"id":"v5-n8","name":"Tem Contato?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1600,200],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"c1","leftValue":"={{ $json.has_contato }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}]},"options":{}}},{"id":"v5-n9","name":"Marca Concluida","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,340],"parameters":{"method":"PATCH","url":"=https://gclayesytzzpzkjvgede.supabase.co/rest/v1/campanhas?id=eq.{{$json.campanha_id}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\"status\":\"concluida\",\"concluido_em\":\"{{ new Date().toISOString() }}\"}","options":{"response":{"response":{"neverError":true}}}}},{"id":"v5-n10","name":"Monta Mensagem","type":"n8n-nodes-base.code","typeVersion":2,"position":[1800,160],"parameters":{"jsCode":"const d = $('Parse Contato').first().json;\nconst contato = d.contato;\nconst vars    = Array.isArray(d.variantes) ? d.variantes : [];\n// Round-robin: idx sequencial garante variantes diferentes a cada envio\nconst idx     = d.enviados % Math.max(vars.length, 1);\nconst raw     = (d.cabecalho + '\\n' + (vars[idx] || '')).trim();\nconst prim    = (contato.nome||'').trim().split(' ')[0] || contato.nome || '';\nconst trat    = contato.tratamento ? contato.tratamento.replace(/\\.?$/, '') + '. ' : '';\nconst empresa = contato.empresa || '';\n// Delay aleatório real entre min e max — valor diferente a cada execução\nconst faixa   = Math.max(d.intervalo_max - d.intervalo_min, 1);\nconst delay_s = d.intervalo_min + Math.floor(Math.random() * faixa);\nconst msg     = raw\n  .replace(/\\[nome\\]/gi,       prim)\n  .replace(/\\[tratamento\\]/gi, trat)\n  .replace(/\\[negocio\\]/gi,    d.nome_negocio || '')\n  .replace(/\\[empresa\\]/gi,    empresa);\nreturn [{ json: {\n  contato_id:   contato.id,\n  campanha_id:  d.campanha_id,\n  mensagem:     msg,\n  variante_idx: idx,\n  instancia:    d.instancia,\n  whatsapp:     contato.whatsapp,\n  delay_s\n}}];"}},{"id":"v5-n11","name":"Aguarda Delay","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2000,160],"parameters":{"unit":"seconds","amount":"={{ $json.delay_s }}"}},{"id":"v5-n12","name":"Envia WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2200,160],"parameters":{"method":"POST","url":"=https://crowingbettafish-evolution.cloudfy.live/message/sendText/{{$json.instancia}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"oXgcgV2NWz9oSDIwg4X7xxr100oT36zb"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({number: $json.whatsapp, text: $json.mensagem, delay: 1200}) }}","options":{"response":{"response":{"fullResponse":true,"neverError":true}}}}},{"id":"v5-n13","name":"Merge Resultado","type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,160],"parameters":{"jsCode":"const evo = $input.first().json;\nconst ctx = $('Monta Mensagem').first().json;\nreturn [{ json: {\n  enviou:       (evo.statusCode || 0) < 300,\n  statusCode:   evo.statusCode || 0,\n  contato_id:   ctx.contato_id,\n  campanha_id:  ctx.campanha_id,\n  mensagem:     ctx.mensagem,\n  variante_idx: ctx.variante_idx,\n}}];"}},{"id":"v5-n14","name":"Enviou OK?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2600,160],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"c1","leftValue":"={{ $json.enviou }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}]},"options":{}}},{"id":"v5-n15","name":"Marca Enviado","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,100],"parameters":{"method":"PATCH","url":"=https://gclayesytzzpzkjvgede.supabase.co/rest/v1/campanha_contatos?id=eq.{{$json.contato_id}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\"status\":\"enviado\",\"enviado_em\":\"{{ new Date().toISOString() }}\",\"variante_idx\":{{ $json.variante_idx }},\"mensagem_enviada\":{{ JSON.stringify($json.mensagem) }}}","options":{"response":{"response":{"neverError":true}}}}},{"id":"v5-n16","name":"Inc Enviados","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3000,100],"parameters":{"method":"POST","url":"https://gclayesytzzpzkjvgede.supabase.co/rest/v1/rpc/cbpm_inc_enviados","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\"p_id\":\"{{ $(\"Merge Resultado\").first().json.campanha_id }}\"}","options":{"response":{"response":{"neverError":true}}}}},{"id":"v5-n17","name":"Marca Falha","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,280],"parameters":{"method":"PATCH","url":"=https://gclayesytzzpzkjvgede.supabase.co/rest/v1/campanha_contatos?id=eq.{{$json.contato_id}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\"status\":\"falha\",\"enviado_em\":\"{{ new Date().toISOString() }}\"}","options":{"response":{"response":{"neverError":true}}}}},{"id":"v5-n18","name":"Inc Falhas","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3000,280],"parameters":{"method":"POST","url":"https://gclayesytzzpzkjvgede.supabase.co/rest/v1/rpc/cbpm_inc_falhas","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\"p_id\":\"{{ $(\"Merge Resultado\").first().json.campanha_id }}\"}","options":{"response":{"response":{"neverError":true}}}}},{"id":"v5-n19","name":"Sem Campanha","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[800,440],"parameters":{}},{"id":"v5-n20","name":"Pausado","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1200,440],"parameters":{}},{"id":"v5-n21","name":"Reserva Contato","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,160],"parameters":{"method":"PATCH","url":"=https://gclayesytzzpzkjvgede.supabase.co/rest/v1/campanha_contatos?id=eq.{{$json.contato.id}}&status=eq.pendente","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"{\"status\":\"em_envio\"}","options":{"response":{"response":{"neverError":true,"fullResponse":true}}}}},{"id":"v5-n22","name":"Reserva OK?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1850,160],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"rc1","leftValue":"={{ Array.isArray($json.body) ? $json.body.length : (Array.isArray($json) ? $json.length : 1) }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}]},"options":{}}},{"id":"v5-n23b","name":"Verifica Em Envio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1050,200],"parameters":{"method":"GET","url":"=https://gclayesytzzpzkjvgede.supabase.co/rest/v1/campanha_contatos?campanha_id=eq.{{$json.campanha_id}}&status=eq.em_envio&select=id&limit=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"}]},"options":{"response":{"response":{"neverError":true,"fullResponse":true}}}}},{"id":"v5-n24b","name":"Livre Para Enviar?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1125,200],"parameters":{"conditions":{"options":{"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"lpe1","leftValue":"={{ (() => { const b = $json.body; if (Array.isArray(b)) return b.length; try { return JSON.parse(b).length; } catch(e) { return 0; } })() }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}]},"options":{}}}],"connections":{"A Cada Minuto":{"main":[[{"node":"Busca Campanha","type":"main","index":0}]]},"Busca Campanha":{"main":[[{"node":"Tem Campanha?","type":"main","index":0}]]},"Tem Campanha?":{"main":[[{"node":"Verifica Contexto","type":"main","index":0}],[{"node":"Sem Campanha","type":"main","index":0}]]},"Verifica Contexto":{"main":[[{"node":"Pode Processar?","type":"main","index":0}]]},"Pode Processar?":{"main":[[{"node":"Verifica Em Envio","type":"main","index":0}],[{"node":"Pausado","type":"main","index":0}]]},"Busca Contato":{"main":[[{"node":"Parse Contato","type":"main","index":0}]]},"Parse Contato":{"main":[[{"node":"Tem Contato?","type":"main","index":0}]]},"Tem Contato?":{"main":[[{"node":"Reserva Contato","type":"main","index":0}],[{"node":"Marca Concluida","type":"main","index":0}]]},"Monta Mensagem":{"main":[[{"node":"Aguarda Delay","type":"main","index":0}]]},"Aguarda Delay":{"main":[[{"node":"Envia WhatsApp","type":"main","index":0}]]},"Envia WhatsApp":{"main":[[{"node":"Merge Resultado","type":"main","index":0}]]},"Merge Resultado":{"main":[[{"node":"Enviou OK?","type":"main","index":0}]]},"Enviou OK?":{"main":[[{"node":"Marca Enviado","type":"main","index":0}],[{"node":"Marca Falha","type":"main","index":0}]]},"Marca Enviado":{"main":[[{"node":"Inc Enviados","type":"main","index":0}]]},"Marca Falha":{"main":[[{"node":"Inc Falhas","type":"main","index":0}]]},"Reserva Contato":{"main":[[{"node":"Reserva OK?","type":"main","index":0}]]},"Reserva OK?":{"main":[[{"node":"Monta Mensagem","type":"main","index":0}],[]]},"Verifica Em Envio":{"main":[[{"node":"Livre Para Enviar?","type":"main","index":0}]]},"Livre Para Enviar?":{"main":[[{"node":"Busca Contato","type":"main","index":0}],[]]}},"authors":"Carlos Almeida","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-15T17:06:31.095Z","id":331,"workflowId":"LXRzDVP6RnXGHPhR","versionId":"f140ac19-9b68-493c-a7dc-e07a98f6160e","event":"activated","userId":"9a8c90ac-5d0a-472e-ba0f-93dc7515eb70"}]}}