n8n-workflows/woocommerce-sync.json
{"updatedAt":"2026-04-25T15:13:49.960Z","createdAt":"2026-04-25T14:43:36.676Z","id":"7DxATdRgCwwwAeLl","name":"CBPM — WooCommerce Sync","description":null,"active":true,"isArchived":false,"nodes":[{"id":"woo-n1-webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"parameters":{"httpMethod":"POST","path":"woo-sync","responseMode":"responseNode","options":{}}},{"id":"woo-n2-get","name":"Get Cliente","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,300],"parameters":{"method":"GET","url":"={{ 'https://gclayesytzzpzkjvgede.supabase.co/rest/v1/clientes?id=eq.' + $json.body.cliente_id + '&select=id,catalog_woo_url,catalog_woo_ck,catalog_woo_cs,catalog_sync_frequency' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"}]},"options":{}}},{"id":"woo-n3-check","name":"Has Credentials?","type":"n8n-nodes-base.if","typeVersion":2,"position":[700,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"combinator":"and","conditions":[{"id":"check-woo-creds","leftValue":"={{ $json[0].catalog_woo_url }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}]},"options":{}}},{"id":"woo-n4-vars","name":"Compute Vars","type":"n8n-nodes-base.code","typeVersion":2,"position":[930,220],"parameters":{"jsCode":"const data = $input.item.json;\nconst clienteId = $('Webhook').first().json.body.cliente_id;\nconst wooUrl = (data[0].catalog_woo_url || '').replace(/\\/$/, '');\nconst ck = data[0].catalog_woo_ck;\nconst cs = data[0].catalog_woo_cs;\nconst auth = 'Basic ' + Buffer.from(ck + ':' + cs).toString('base64');\nreturn [{ json: { cliente_id: clienteId, woo_url: wooUrl, woo_auth: auth } }];"}},{"id":"woo-n5-fetch","name":"Fetch WooCommerce Page","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1160,220],"parameters":{"method":"GET","url":"={{ $json.woo_url + '/wp-json/wc/v3/products?per_page=100&page=1&status=publish' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $json.woo_auth }}"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true}}}}},{"id":"woo-n6-map","name":"Map to Catalogo","type":"n8n-nodes-base.code","typeVersion":2,"position":[1390,220],"parameters":{"mode":"runOnceForAllItems","jsCode":"const clienteId = $('Compute Vars').first().json.cliente_id;\nconst raw = $input.all();\nconst body = raw[0]?.json?.body;\nconst arr = Array.isArray(body) ? body : (Array.isArray(raw[0]?.json) ? raw[0].json : []);\nconst produtos = arr.map(p => ({\n  cliente_id: clienteId,\n  nome: p.name,\n  descricao: (p.short_description || p.description || '').replace(/<[^>]*>/g, '').trim().slice(0, 500),\n  preco: parseFloat(p.price) || 0,\n  categoria: p.categories?.[0]?.name || '',\n  imagens: p.images?.[0]?.src ? [p.images[0].src] : [],\n  disponivel: p.stock_status !== 'outofstock',\n  divulga_preco: true,\n  extras: { source: 'woocommerce', woo_id: String(p.id) }\n}));\nreturn [{ json: { produtos, count: produtos.length } }];"}},{"id":"woo-n7-upsert","name":"Insert Catalogo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1620,220],"parameters":{"method":"POST","url":"https://gclayesytzzpzkjvgede.supabase.co/rest/v1/catalogo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Prefer","value":"return=minimal"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify($json.produtos) }}","options":{"response":{"response":{"neverError":true}}}}},{"id":"woo-n8-sync","name":"Update Last Sync","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1850,220],"parameters":{"method":"PATCH","url":"={{ 'https://gclayesytzzpzkjvgede.supabase.co/rest/v1/clientes?id=eq.' + $('Compute Vars').item.json.cliente_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ catalog_last_sync: new Date().toISOString(), catalog_last_sync_status: 'ok', catalog_last_sync_count: $('Map to Catalogo').item.json.count }) }}","options":{"response":{"response":{"neverError":true}}}}},{"id":"woo-n9-ok","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2080,220],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true, synced: $('Map to Catalogo').item.json.count }) }}","options":{}}},{"id":"woo-n10-err","name":"Respond Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[930,420],"parameters":{"respondWith":"json","responseBody":"{ \"ok\": false, \"error\": \"missing woocommerce credentials\" }","options":{"responseCode":400}}},{"id":"woo-n6b-delete","name":"Delete WooCommerce Products","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1620,360],"parameters":{"method":"DELETE","url":"={{ 'https://gclayesytzzpzkjvgede.supabase.co/rest/v1/catalogo?cliente_id=eq.' + $('Compute Vars').item.json.cliente_id + '&extras->>source=eq.woocommerce' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"}]},"options":{"response":{"response":{"neverError":true}}}}}],"connections":{"Webhook":{"main":[[{"node":"Get Cliente","type":"main","index":0}]]},"Get Cliente":{"main":[[{"node":"Has Credentials?","type":"main","index":0}]]},"Has Credentials?":{"main":[[{"node":"Compute Vars","type":"main","index":0}],[{"node":"Respond Error","type":"main","index":0}]]},"Compute Vars":{"main":[[{"node":"Fetch WooCommerce Page","type":"main","index":0}]]},"Fetch WooCommerce Page":{"main":[[{"node":"Map to Catalogo","type":"main","index":0}]]},"Map to Catalogo":{"main":[[{"node":"Delete WooCommerce Products","type":"main","index":0}]]},"Update Last Sync":{"main":[[{"node":"Respond OK","type":"main","index":0}]]},"Delete WooCommerce Products":{"main":[[{"node":"Insert Catalogo","type":"main","index":0}]]},"Insert Catalogo":{"main":[[{"node":"Update Last Sync","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"b1e49f09-e9c4-4498-ae4d-4aa903fcea3c","activeVersionId":"b1e49f09-e9c4-4498-ae4d-4aa903fcea3c","versionCounter":12,"triggerCount":1,"shared":[{"updatedAt":"2026-04-25T14:43:36.676Z","createdAt":"2026-04-25T14:43:36.676Z","role":"workflow:owner","workflowId":"7DxATdRgCwwwAeLl","projectId":"Rz4gyxXDbFP8Y7vc","project":{"updatedAt":"2026-01-17T22:05:06.940Z","createdAt":"2026-01-17T22:03:59.854Z","id":"Rz4gyxXDbFP8Y7vc","name":"Carlos Almeida <carlos.carv.almeida@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"9a8c90ac-5d0a-472e-ba0f-93dc7515eb70","projectRelations":[{"updatedAt":"2026-01-17T22:03:59.854Z","createdAt":"2026-01-17T22:03:59.854Z","userId":"9a8c90ac-5d0a-472e-ba0f-93dc7515eb70","projectId":"Rz4gyxXDbFP8Y7vc","user":{"updatedAt":"2026-06-15T20:59:30.279Z","createdAt":"2026-01-17T22:03:58.841Z","id":"9a8c90ac-5d0a-472e-ba0f-93dc7515eb70","email":"carlos.carv.almeida@gmail.com","firstName":"Carlos","lastName":"Almeida","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-17T22:04:25.276Z","personalization_survey_n8n_version":"1.113.3","companyType":"saas"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"M56O4IRmHpAR3RpL","userActivatedAt":1775824707308,"npsSurvey":{"responded":true,"lastShownAt":1776111623066}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-15","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-25T15:13:49.962Z","createdAt":"2026-04-25T15:13:49.962Z","versionId":"b1e49f09-e9c4-4498-ae4d-4aa903fcea3c","workflowId":"7DxATdRgCwwwAeLl","nodes":[{"id":"woo-n1-webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"parameters":{"httpMethod":"POST","path":"woo-sync","responseMode":"responseNode","options":{}}},{"id":"woo-n2-get","name":"Get Cliente","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,300],"parameters":{"method":"GET","url":"={{ 'https://gclayesytzzpzkjvgede.supabase.co/rest/v1/clientes?id=eq.' + $json.body.cliente_id + '&select=id,catalog_woo_url,catalog_woo_ck,catalog_woo_cs,catalog_sync_frequency' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"}]},"options":{}}},{"id":"woo-n3-check","name":"Has Credentials?","type":"n8n-nodes-base.if","typeVersion":2,"position":[700,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"combinator":"and","conditions":[{"id":"check-woo-creds","leftValue":"={{ $json[0].catalog_woo_url }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}]},"options":{}}},{"id":"woo-n4-vars","name":"Compute Vars","type":"n8n-nodes-base.code","typeVersion":2,"position":[930,220],"parameters":{"jsCode":"const data = $input.item.json;\nconst clienteId = $('Webhook').first().json.body.cliente_id;\nconst wooUrl = (data[0].catalog_woo_url || '').replace(/\\/$/, '');\nconst ck = data[0].catalog_woo_ck;\nconst cs = data[0].catalog_woo_cs;\nconst auth = 'Basic ' + Buffer.from(ck + ':' + cs).toString('base64');\nreturn [{ json: { cliente_id: clienteId, woo_url: wooUrl, woo_auth: auth } }];"}},{"id":"woo-n5-fetch","name":"Fetch WooCommerce Page","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1160,220],"parameters":{"method":"GET","url":"={{ $json.woo_url + '/wp-json/wc/v3/products?per_page=100&page=1&status=publish' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $json.woo_auth }}"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true}}}}},{"id":"woo-n6-map","name":"Map to Catalogo","type":"n8n-nodes-base.code","typeVersion":2,"position":[1390,220],"parameters":{"mode":"runOnceForAllItems","jsCode":"const clienteId = $('Compute Vars').first().json.cliente_id;\nconst raw = $input.all();\nconst body = raw[0]?.json?.body;\nconst arr = Array.isArray(body) ? body : (Array.isArray(raw[0]?.json) ? raw[0].json : []);\nconst produtos = arr.map(p => ({\n  cliente_id: clienteId,\n  nome: p.name,\n  descricao: (p.short_description || p.description || '').replace(/<[^>]*>/g, '').trim().slice(0, 500),\n  preco: parseFloat(p.price) || 0,\n  categoria: p.categories?.[0]?.name || '',\n  imagens: p.images?.[0]?.src ? [p.images[0].src] : [],\n  disponivel: p.stock_status !== 'outofstock',\n  divulga_preco: true,\n  extras: { source: 'woocommerce', woo_id: String(p.id) }\n}));\nreturn [{ json: { produtos, count: produtos.length } }];"}},{"id":"woo-n7-upsert","name":"Insert Catalogo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1620,220],"parameters":{"method":"POST","url":"https://gclayesytzzpzkjvgede.supabase.co/rest/v1/catalogo","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Prefer","value":"return=minimal"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify($json.produtos) }}","options":{"response":{"response":{"neverError":true}}}}},{"id":"woo-n8-sync","name":"Update Last Sync","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1850,220],"parameters":{"method":"PATCH","url":"={{ 'https://gclayesytzzpzkjvgede.supabase.co/rest/v1/clientes?id=eq.' + $('Compute Vars').item.json.cliente_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ catalog_last_sync: new Date().toISOString(), catalog_last_sync_status: 'ok', catalog_last_sync_count: $('Map to Catalogo').item.json.count }) }}","options":{"response":{"response":{"neverError":true}}}}},{"id":"woo-n9-ok","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2080,220],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true, synced: $('Map to Catalogo').item.json.count }) }}","options":{}}},{"id":"woo-n10-err","name":"Respond Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[930,420],"parameters":{"respondWith":"json","responseBody":"{ \"ok\": false, \"error\": \"missing woocommerce credentials\" }","options":{"responseCode":400}}},{"id":"woo-n6b-delete","name":"Delete WooCommerce Products","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1620,360],"parameters":{"method":"DELETE","url":"={{ 'https://gclayesytzzpzkjvgede.supabase.co/rest/v1/catalogo?cliente_id=eq.' + $('Compute Vars').item.json.cliente_id + '&extras->>source=eq.woocommerce' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"},{"name":"Authorization","value":"Bearer sb_secret_HpoqM6ujk2yD6la7KM3cuQ_pdWBK8jo"}]},"options":{"response":{"response":{"neverError":true}}}}}],"connections":{"Webhook":{"main":[[{"node":"Get Cliente","type":"main","index":0}]]},"Get Cliente":{"main":[[{"node":"Has Credentials?","type":"main","index":0}]]},"Has Credentials?":{"main":[[{"node":"Compute Vars","type":"main","index":0}],[{"node":"Respond Error","type":"main","index":0}]]},"Compute Vars":{"main":[[{"node":"Fetch WooCommerce Page","type":"main","index":0}]]},"Fetch WooCommerce Page":{"main":[[{"node":"Map to Catalogo","type":"main","index":0}]]},"Map to Catalogo":{"main":[[{"node":"Delete WooCommerce Products","type":"main","index":0}]]},"Update Last Sync":{"main":[[{"node":"Respond OK","type":"main","index":0}]]},"Delete WooCommerce Products":{"main":[[{"node":"Insert Catalogo","type":"main","index":0}]]},"Insert Catalogo":{"main":[[{"node":"Update Last Sync","type":"main","index":0}]]}},"authors":"Carlos Almeida","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-25T15:13:50.023Z","id":251,"workflowId":"7DxATdRgCwwwAeLl","versionId":"b1e49f09-e9c4-4498-ae4d-4aa903fcea3c","event":"activated","userId":"9a8c90ac-5d0a-472e-ba0f-93dc7515eb70"},{"createdAt":"2026-05-14T17:14:48.886Z","id":320,"workflowId":"7DxATdRgCwwwAeLl","versionId":"b1e49f09-e9c4-4498-ae4d-4aa903fcea3c","event":"deactivated","userId":"9a8c90ac-5d0a-472e-ba0f-93dc7515eb70"},{"createdAt":"2026-05-14T17:14:51.711Z","id":321,"workflowId":"7DxATdRgCwwwAeLl","versionId":"b1e49f09-e9c4-4498-ae4d-4aa903fcea3c","event":"activated","userId":"9a8c90ac-5d0a-472e-ba0f-93dc7515eb70"}]}}
